body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}

.container {
  background-color: #fff;
  width: 20rem;
  height: 30rem;
  margin: 6.5rem 1.7rem;
  border-radius: 1rem;
}

.cabecalho .qr-code {
  width: 18rem;
  justify-content: center;
  margin: 1rem 1rem;
  border-radius: 1rem;
}

.container .descricao .titulo {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-bottom: 1rem;
}

.container .descricao .paragrafo {
  margin-left: 2.5rem;
  width: 230px;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: hsl(240, 1%, 65%);
  font: bold;
}

@media screen and (max-width: 1440px) {
  .container {
    position: absolute;
    margin: 5rem 30rem;
  }
}
@media screen and (max-width: 375px) {
  .container {
    background-color: #fff;
    width: 20rem;
    height: 30rem;
    margin: 6.5rem 1.7rem;
    border-radius: 1rem;
  }
}
